@import "vars";

@import "../bower_components/foundation/scss/foundation/components/grid";
@import "../bower_components/foundation/scss/foundation/components/accordion";
//@import "../bower_components/foundation/scss/foundation/components/alert-boxes";
@import "../bower_components/foundation/scss/foundation/components/block-grid";
//@import "../bower_components/foundation/scss/foundation/components/breadcrumbs";
//@import "../bower_components/foundation/scss/foundation/components/button-groups";
//@import "../bower_components/foundation/scss/foundation/components/buttons";
@import "../bower_components/foundation/scss/foundation/components/clearing";
//@import "../bower_components/foundation/scss/foundation/components/dropdown";
//@import "../bower_components/foundation/scss/foundation/components/dropdown-buttons";
@import "../bower_components/foundation/scss/foundation/components/flex-video";
//@import "../bower_components/foundation/scss/foundation/components/forms";
//@import "../bower_components/foundation/scss/foundation/components/icon-bar";
//@import "../bower_components/foundation/scss/foundation/components/inline-lists";
//@import "../bower_components/foundation/scss/foundation/components/joyride";
//@import "../bower_components/foundation/scss/foundation/components/keystrokes";
//@import "../bower_components/foundation/scss/foundation/components/labels";
//@import "../bower_components/foundation/scss/foundation/components/magellan";
//@import "../bower_components/foundation/scss/foundation/components/orbit";
//@import "../bower_components/foundation/scss/foundation/components/pagination";
//@import "../bower_components/foundation/scss/foundation/components/panels";
//@import "../bower_components/foundation/scss/foundation/components/pricing-tables";
@import "../bower_components/foundation/scss/foundation/components/progress-bars";
//@import "../bower_components/foundation/scss/foundation/components/range-slider";
@import "../bower_components/foundation/scss/foundation/components/reveal";
//@import "../bower_components/foundation/scss/foundation/components/side-nav";
//@import "../bower_components/foundation/scss/foundation/components/split-buttons";
//@import "../bower_components/foundation/scss/foundation/components/sub-nav";
//@import "../bower_components/foundation/scss/foundation/components/switches";
//@import "../bower_components/foundation/scss/foundation/components/tables";
//@import "../bower_components/foundation/scss/foundation/components/tabs";
//@import "../bower_components/foundation/scss/foundation/components/thumbs";
//@import "../bower_components/foundation/scss/foundation/components/tooltips";
//@import "../bower_components/foundation/scss/foundation/components/top-bar";
@import "../bower_components/foundation/scss/foundation/components/type";
@import "../bower_components/foundation/scss/foundation/components/offcanvas";
@import "../bower_components/foundation/scss/foundation/components/visibility";
@import "../bower_components/slick-carousel/slick/slick";


@import "components/fonts";
@import "components/grid";
@import "components/icons";
@import "components/buttons";
@import "components/type";
@import "components/header";
@import "components/footer";
@import "components/hero";
@import "components/slider";
@import "components/icon-nav";
@import "components/catalog";
@import "components/element-slider";
@import "components/subnav";
@import "components/news";
@import "components/breadcrumbs";
@import "components/pagination";
@import "components/blueprints";
@import "components/about";
@import "components/star";
@import "components/forms";
@import "components/partner";
@import "components/nouislider";
@import "components/filters";
@import "components/tab";
@import "components/flat";


.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
.hidden {
  display: none;
}
