.about-price {
  color: $primary-color;
}

.about-news-list {

}

.about-info {
  font-weight: 300;
}

.about-news_link {
  font-size: rem-calc(14);
  font-weight: 300;
}

.about-price-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.consultant {
  margin: rem-calc(40 0 0);
}

.consultant_name {
  display: block;
  font-weight: 600;
}

.consultant_phone {
  text-decoration: none;
  cursor: default;

  &:hover {
    color: $body-font-color;
    text-decoration: none;
  }
}

.viewing-singup {
  margin: rem-calc(20 0);
  display: block;
  background-color: $primary-color;
  color: $white;
  text-align: center;
  padding: rem-calc(5 0);
  border-radius: rem-calc(10);

  &:hover {
    color: $white;
  }
}

.about-map {
  margin: rem-calc(0 0 50);
}

.plan-tile {
  position: relative;
  display: block;

  &-big {
    .plan-tile_link {
      font-size: rem-calc(24);
    }
    .plan-tile-description {
      font-size: rem-calc(20);
    }
  }

  &:hover {
    .plan-tile-bg {
      top: 0;
      border-color: #e31e24;
    }
    .plan-tile-description {
      color: $body-font-color;
      border-color: #e31e24;
    }
  }
}

.plan-tile-bg {
  position: absolute;
  z-index: 1;
  right: 0;
  left: 0;
  bottom: 0;
  top: 100%;
  border-right: 3px solid #e5e5e5;
  transition: top .5s ease-out, border-color .5s ease-out;
}

.plan-tile-thumb {
  display: block;
  text-align: center;
  padding: rem-calc(5);
  img {
    max-width: 100%;
  }
}

.plan-tile-description {
  display: block;
  border-bottom: 3px solid #e5e5e5;
  border-right: 3px solid #e5e5e5;
  position: relative;
  z-index: 2;
  padding: rem-calc(5);
  transition: border-color .5s ease-out;
  span {
    display: block;
  }
}

.plan-tile_link {
  display: block;
  text-align: center;
  color: $primary-color;
  text-decoration: underline;
  margin: rem-calc(10 0);
  font-weight: 300;

}