.house-choices {
  margin: rem-calc(20 0 100);
}

.house-choice {
  display: block;
  position: relative;
  color: $body-font-color;

  &:hover, &:focus {

    .house-title {
      color: $red;
      text-decoration: underline;
    }
    .house-address, .house-ready {
      color: $body-font-color;
    }
    .house-thumb img {
      opacity: .7;
    }
  }
}

.house-choice-bg {
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 0;
}

.house-title {
  display: block;
  font-size: rem-calc(19);
}

.house-thumb {
  display: block;
  margin: rem-calc(20 0);
  text-align: center;
}

.house-description {
  display: block;
}

.house-address {
  display: block;
}

.house-ready {
  display: block;
}

.progress {
  display: block;
  margin-bottom: 0;
}

.meter {
  text-align: center;
  color: $white;
  font-weight: 600;
}

.house-date-ready {
  color: $red;
}

.flat-details {
  border: 1px solid $gainsboro;
  padding: rem-calc(20);
  margin: rem-calc(0 0 60);
}

.newhouse-tile {
  margin-bottom: rem-calc(20);
}