.breadcrumbs {
  list-style-type: none;
  margin: 0;
  font-size: rem-calc(14);

  li {
    display: inline-block;
  }

  a {
    color: $body-font-color;
    transition: color .3s ease-out;

    &:hover {
      color: $red;
    }
  }
}