.catalog-slider-title {
  margin-bottom: rem-calc(30);
  a {
    color: inherit;
    text-decoration: none;
    position: relative;
    transition: all .5s ease-out;

    &:after {
      display: block;
      content: '';
      position: absolute;
      border-bottom: 1px solid $red;
      bottom: rem-calc(-5);
      right: 100%;
      left: 0;
      transition: all .5s ease-out;
    }
  }

  &:hover {
    color: $red;
    a {
      &:after {
        left: rem-calc(15);
        right: rem-calc(-15);
      }
    }
  }
}