.filters-container {
  background-color: #bebfbf;
  padding: rem-calc(15 30 30);
  margin-bottom: rem-calc(30);
}


.filter-line {
  margin-bottom: rem-calc(10);
  vertical-align: bottom;
}

.filter-slider {

  .range-header {
    margin-bottom: rem-calc(10);
  }
}

.filter-submit {
  @include clearfix;
}

.tags {
  /* Правка для мобильной версии */
  @media #{$small-only} {
    margin-bottom: rem-calc(20);
  }
}

.tag-label {
  display: inline-block;

}

.tag-title {
  display: inline-block;
  background-color: #fff;
  text-align: center;
  border-radius: rem-calc(5);
  padding: rem-calc(0 5);
  cursor: pointer;
  transition: all .3s ease-out;
}

input.tag-checkbox {
  display: none;
  &:after {
    display: none;
  }
  &:before {
    display: none;
  }
}

.tag-checkbox:checked + .tag-title {
    background-color: $primary-color;
    color: #fff;
}
.filter-slider-input {
  display: inline-block;
  border: 1px solid #CCCCCC;
  background: #FFFFFF;
  border-radius: 4px;
  color: #e31e24;
  width: 100%;
}
