.flat-parametrs {
  font-size: rem-calc(17);

  .row {
    margin-bottom: rem-calc(12);
  }
}

.price-old {
  color: #797b7d;
}

.flat-badge-line {
  margin: rem-calc(20 0);
}

.badge-line {
  display: inline-block;
  margin-right: rem-calc(20);
}
.flat-corousel-big-item img{
  max-width: 100%;
}

.flat-map {
  margin-left: rem-calc(25);
}
