@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/opensans-semibold-webfont.eot');
  src: url('/fonts/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
  url('/fonts/opensans-semibold-webfont.woff2') format('woff2'),
  url('/fonts/opensans-semibold-webfont.woff') format('woff'),
  url('/fonts/opensans-semibold-webfont.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;

}




@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/opensans-semibolditalic-webfont.eot');
  src: url('/fonts/opensans-semibolditalic-webfont.eot?#iefix') format('embedded-opentype'),
  url('/fonts/opensans-semibolditalic-webfont.woff2') format('woff2'),
  url('/fonts/opensans-semibolditalic-webfont.woff') format('woff'),
  url('/fonts/opensans-semibolditalic-webfont.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;

}




@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/opensans-bold-webfont.eot');
  src: url('/fonts/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('/fonts/opensans-bold-webfont.woff2') format('woff2'),
  url('/fonts/opensans-bold-webfont.woff') format('woff'),
  url('/fonts/opensans-bold-webfont.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;

}




@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/opensans-bolditalic-webfont.eot');
  src: url('/fonts/opensans-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
  url('/fonts/opensans-bolditalic-webfont.woff2') format('woff2'),
  url('/fonts/opensans-bolditalic-webfont.woff') format('woff'),
  url('/fonts/opensans-bolditalic-webfont.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;

}

/* Generated by Font Squirrel (http://www.fontsquirrel.com) on October 8, 2015 */



@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/opensans-lightitalic-webfont.eot');
  src: url('/fonts/opensans-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
  url('/fonts/opensans-lightitalic-webfont.woff2') format('woff2'),
  url('/fonts/opensans-lightitalic-webfont.woff') format('woff'),
  url('/fonts/opensans-lightitalic-webfont.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;

}




@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/opensans-regular-webfont.eot');
  src: url('/fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('/fonts/opensans-regular-webfont.woff2') format('woff2'),
  url('/fonts/opensans-regular-webfont.woff') format('woff'),
  url('/fonts/opensans-regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/opensans-italic-webfont.eot');
  src: url('/fonts/opensans-italic-webfont.eot?#iefix') format('embedded-opentype'),
  url('/fonts/opensans-italic-webfont.woff2') format('woff2'),
  url('/fonts/opensans-italic-webfont.woff') format('woff'),
  url('/fonts/opensans-italic-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;

}




@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/opensans-light-webfont.eot');
  src: url('/fonts/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
  url('/fonts/opensans-light-webfont.woff2') format('woff2'),
  url('/fonts/opensans-light-webfont.woff') format('woff'),
  url('/fonts/opensans-light-webfont.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;

}


@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/opensans-extrabold-webfont.eot');
  src: url('/fonts/opensans-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
  url('/fonts/opensans-extrabold-webfont.woff2') format('woff2'),
  url('/fonts/opensans-extrabold-webfont.woff') format('woff'),
  url('/fonts/opensans-extrabold-webfont.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;

}




@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/opensans-extrabolditalic-webfont.eot');
  src: url('/fonts/opensans-extrabolditalic-webfont.eot?#iefix') format('embedded-opentype'),
  url('/fonts/opensans-extrabolditalic-webfont.woff2') format('woff2'),
  url('/fonts/opensans-extrabolditalic-webfont.woff') format('woff'),
  url('/fonts/opensans-extrabolditalic-webfont.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}


@font-face {
  font-family: 'fontello';
  src: url('/fonts/fontello.eot?84337328');
  src: url('/fonts/fontello.eot?84337328#iefix') format('embedded-opentype'),
  url('/fonts/fontello.woff?84337328') format('woff'),
  url('/fonts/fontello.ttf?84337328') format('truetype'),
  url('/fonts/fontello.svg?84337328#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'vk_ico';
  src: url('/fonts/vk_ico.eot?6865394');
  src: url('/fonts/vk_ico.eot?6865394#iefix') format('embedded-opentype'),
  url('/fonts/vk_ico.woff?6865394') format('woff'),
  url('/fonts/vk_ico.ttf?6865394') format('truetype'),
  url('/fonts/vk_ico.svg?6865394#vk_ico') format('svg');
  font-weight: normal;
  font-style: normal;
}
