.footer-header {
  background-color: $red;

  @media #{$small-only} {
    text-align: center;
  }
}

.logo_link-footer {
  margin: rem-calc(10 0 10 40);
  display: block;

  @media #{$small-only} {
    margin: rem-calc(10 0);
  }
}

.phone-header-footer {
  padding: rem-calc(2);
  vertical-align: middle;

  &> .phone_link {
    color: $white;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 0;

    @media #{$small-only} {
      margin-bottom: rem-calc(10);
    }
  }
}

.order-call-button {
  display: inline-block;
  background-color: $white;
  color: $red;
  text-decoration: none;
  padding: rem-calc(10 15);
  font-weight: 600;
  margin: rem-calc(0 0 0 15);
  &:hover {
    color: $red;
  }
}

.section-footer {
  background-color: #d5d6d6;
  padding: rem-calc(25 40);
}

.footer-title_link {
  &:hover {
    color: $red;
  }
}

.footer-nav {
  list-style-type: none;
  margin: rem-calc(15 0);
  padding: 0;
}

.footer-nav-item {
  font-size: rem-calc(14);
}

.footer_link {
  color: $body-font-color;
  text-decoration: none;
  transition: color .3s ease-out;
  &:hover {
    text-decoration: underline;
    color: $red;
  }
}

.footer-contact {
  padding-left: rem-calc(25);
  font-size: rem-calc(14);
  display: block;
  margin-bottom: rem-calc(25);
}

.contact-icon {
  margin-left: rem-calc(-25);
}

.footer-phone {
  .phone-prefix {
    font-size: rem-calc(12);
    padding: rem-calc(0 5 0 0);
  }
  .phone-number {
    font-size: rem-calc(15);
    font-weight: 600;
  }
}

.author {
  font-size: rem-calc(15);
  font-weight: 600;
}