input[type="text"] {
  background-color: $input-bg-color;
  border: none;
  width: 100%;
  margin-bottom: rem-calc(15);
  padding: rem-calc(5 10 5 20);

  &:focus, &:active {
    outline: none;
  }
}

input[type="checkbox"] {
  position: relative;
  padding: rem-calc(5);
  display: inline-block;

  &:after {
    display: block;
    width: rem-calc(20);
    height: rem-calc(20);
    position: absolute;
    content: '';
    background-color: $gainsboro;
    border-radius: rem-calc(5);
    z-index: 1;
    left: rem-calc(-5);
    top: rem-calc(-5);
    text-align: center;
  }

  &:active, &:focus {
    outline: none;
  }

  &:checked {

    &:after {
      content: '✓';
    }
  }
}

.select-list {
  position: relative;
  /* Доп стиль для мобильной версии */
  @media #{$small-only} {
    margin-bottom: rem-calc(20);
    display: block;
  }

  &:before {
    @extend .icon-right-open-big;
    z-index: 1;
    position: absolute;
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: .2em;
    background-color: $white;
    transform: rotate(90deg);
    right: 0;
    top: 5px;
  }

  &:focus, &:active {
    color: $primary-color;
    &:before {
      color: $primary-color;
    }
  }

  select {
    border-radius: 5px;
    padding: rem-calc(5);
    border: none;

    &:focus {
      outline: none;

    }
  }
}
