.wrapper {
  background-color: $white;
  box-shadow: 0 0 7px 0 rgba(119,126,135,.25);
}

.container {
  padding: 0 rem-calc(40);
  width: 100%;
}
/* New */
.panel {
  background-color: #ebebeb;
  padding: rem-calc(10);
  margin-bottom: rem-calc(10);
  margin-top: rem-calc(20);
  margin-right: rem-calc(-20);

  p {
    font-size: rem-calc(20);
    margin-bottom: rem-calc(10);

    &:last-child {
      margin-bottom: 0;
    }
  }
  a {
    color: $red;
    text-decoration: underline;
  }
}
/* End New */
