.header {
  padding: rem-calc(50 0 15);
  @media #{$small-only} {
    padding: rem-calc(20 0);
  }
}

.phone-header {
  padding: rem-calc(15 0 10);
  text-align: right;

  @media #{$small-only} {
    text-align: center;
  }
}

.phone_link {
  display: block;
  color: $red;
  margin-bottom: rem-calc(5);
  text-decoration: none;

  &:hover{
    text-decoration: none;
    color: $red;
    cursor: default;
  }
}

.phone-icon-header {
  font-size: rem-calc(25);
}

.phone-prefix {
  font-size: rem-calc(24);
  padding: rem-calc(0 5);
}

.phone-number {
  font-size: rem-calc(30);
}

.order-call{
  color: $oil;
  position: relative;
  text-decoration: none;

  &:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -2px;
    height: rem-calc(2);
    background: url(/images/order-call-border.jpg) repeat-x;
  }
  &:hover {
    color: $oil;
    text-decoration: none;
  }
}

.nav {
  display: table;
  width: 100%;
  border-radius: rem-calc(5);
  background-color: $red;
  padding: 0;
  margin: rem-calc(10 0 0);
  overflow: hidden;
}

.nav-item {
  display: table-cell;
  text-align: center;
  border-right: 2px solid $white;
  &:last-child {
    border-right: none;
  }
}
.nav_link {
  display: block;
  text-align: center;
  font-weight: 600;
  color: $white;
  padding: rem-calc(10 0);
  text-decoration: none;
  position: relative;
  z-index: 1;
  &:before {
    content: '';
    position: absolute;
    z-index: -1;
    display: block;
    transition: background .5s ease-out;
    top: rem-calc(2);
    bottom: 0;
    left: 0;
    right: 0;

  }
  &:hover{
    color: $white;
    text-decoration: none;
    &:before {
      background: lighten($red, 22);
    }
  }
}