.hero {
  margin-bottom: rem-calc(20);
}

.hero-slider-item {
  position: relative;

  img {
    border-radius: rem-calc(10);
  }
}


.hero-slogan {
  display: block;
  font-size: rem-calc(24);
  background-color: rgba($white, .55);
  position: absolute;
  left: 0;
  bottom: rem-calc(37);
  padding: rem-calc(25);

  @media #{$small-only} {
    bottom: auto;
    top: 0;
    right: 0;
    padding: rem-calc(5);
    font-size: rem-calc(12);
  }
}

.hero-form {
  background-color: $base;
  border-radius: rem-calc(5);
  padding: rem-calc(20);
}

.hero-input {
  width: 100%;
  margin-bottom: rem-calc(15);
  padding: rem-calc(5 10 5 20);

  &:focus {
    outline: none;
  }
}
textarea.hero-input {
  height: rem-calc(90);
}

.submit-container {
  text-align: center;
}

.hero-submit {
  border-radius: rem-calc(5);
  background-color: $red;
  border: none;
  color: $white;
  padding: rem-calc(10 15);
  cursor: pointer;
}