.icon-nav {
  margin-bottom: rem-calc(20);
}

.icon-nav-item {
  text-align: center;
  display: block;

  &:hover {
    color: $red;
    text-decoration: underline;
    .icon-nav_title {
      color: $red;
    }
  }
}

.icon-nav_title {
  color: $body-font-color;
  transition: color .3s ease-out;
  display: block;
}

.icon-nav-thumb {
  display: block;
}