.news-list {
  margin-bottom: rem-calc(35);
}

.news-item {
  margin-bottom: rem-calc(40);
}

.news-list-thumb {
  text-align: right;

  img {
    max-width: 100%;
  }
}

.news-list-title {
  @extend .h4;
  display: block;
  margin-bottom: rem-calc(10);

  &:hover {
    color: $red;
  }
}

.news-list-date {
  font-size: rem-calc(12);
  color: $base;
  margin-bottom: rem-calc(20);
  display: block;
}

.news-list-announcement {
  text-indent: rem-calc(35);
}