
/* Functional styling;
 * These styles are required for noUiSlider to function.
 * You don't need to change these rules to apply your design.
 */
.noUi-target,
.noUi-target * {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -ms-touch-action: none;
  touch-action: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.noUi-target {
  position: relative;
  direction: ltr;
}
.noUi-base {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1; /* Fix 401 */
}
.noUi-origin {
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
}
.noUi-handle {
  position: relative;
  z-index: 1;
}
.noUi-stacking .noUi-handle {
  /* This class is applied to the lower origin when
     its values is > 50%. */
  z-index: 10;
}
.noUi-state-tap .noUi-origin {
  -webkit-transition: left 0.3s, top 0.3s;
  transition: left 0.3s, top 0.3s;
}
.noUi-state-drag * {
  cursor: inherit !important;
}

/* Painting and performance;
 * Browsers can paint handles in their own layer.
 */
.noUi-base {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

/* Slider size and handle placement;
 */
.noUi-horizontal {
  height: rem-calc(3);
}
.noUi-horizontal .noUi-handle {
  width: 14px;
  height: 14px;
  left: -7px;
  top: -6px;
}
.noUi-vertical {
  width: 18px;
}
.noUi-vertical .noUi-handle {
  width: 28px;
  height: 34px;
  left: -6px;
  top: -17px;
}

/* Styling;
 */
.noUi-background {
  background: $smoke;
}
.noUi-connect {
  background: $primary-color;
  box-shadow: inset 0 0 3px rgba(51,51,51,0.45);
  -webkit-transition: background 450ms;
  transition: background 450ms;
}
.noUi-origin {
}
.noUi-target {

}
.noUi-target.noUi-connect {
  box-shadow: inset 0 0 3px rgba(51,51,51,0.45), 0 3px 6px -5px #BBB;
}

/* Handles and cursors;
 */
.noUi-draggable {
  cursor: w-resize;
}
.noUi-vertical .noUi-draggable {
  cursor: n-resize;
}
.noUi-handle {
  border-radius: 5px;
  background: $red;
  cursor: default;
}

.noUi-active {

}

/* Disabled state;
 */
[disabled].noUi-connect,
[disabled] .noUi-connect {
  background: #B8B8B8;
}
[disabled].noUi-origin,
[disabled] .noUi-handle {
  cursor: not-allowed;
}

.range-values {
  font-size: rem-calc(14);
  font-weight: 300;
  margin: rem-calc(10 0 20);
}
.range-value-left {
  float: left;
}

.range-value-right {
  float: right;
}

input.range-input {
  display: inline-block;
  border: 1px solid $iron;
  width: rem-calc(60);
  background: $white;
  border-radius: 4px;
  color: $red;
  float: right;
}
.range-header {
  position: relative;
  margin-bottom: rem-calc(30);
}

.range-input-helper {
  position: absolute;
  right: rem-calc(-40);
  text-align: left;
  width: rem-calc(30);
}
.noUi-tooltip {
  position: absolute;
  bottom: rem-calc(-25);
  font-size: 14px;
}

.mortgage-slider-single {
  .noUi-background {
    background-color: $red;
  }
  .noUi-origin {
    background-color: #EEEEEE;
  }
}