.pagination {
  list-style-type: none;
}

.pagination-item {
  display: inline-block;
  margin-right: rem-calc(10);
}

.pagination_link {
  color: $body-font-color;

  &.active {
    color: $base;
  }
  &:hover {
    color: $red;
  }
}

.pagination_separation {

}