.partners-list {
  margin-bottom: rem-calc(50);

  &>.row {
    border-bottom: 1px solid $iron;
    @media #{$small-only} {
      border-bottom: none;
    }
    &>.columns {
      border-right: 1px solid $iron;
      /* Правка для мобильной версии */
      @media #{$small-only} {
        border-right: none;
      }

      &:first-child {

        .partner {
          padding-left: 0;
        }
      }
      &:last-child {
        border-right: none;


        .partner {
          padding-right: 0;
        }
      }

    }

    &:first-child {

      .partner {
        padding-top: 0;
      }
    }
    &:last-child {
      border-bottom: none;

      .partner {
        padding-bottom: 0;
      }
    }
  }
}
.partner-title {
  font-weight: 300;
  font-size: rem-calc(24);
  margin: rem-calc(30 0 40);
}

.partner {
  width: 100%;
  margin: rem-calc(20 0);
  padding: rem-calc(30 50 30);

  @media #{$small-only} {
    margin: 0;
    padding: rem-calc(20 0);
    border-bottom: 1px solid $iron;
  }
}

.partner-name {
  font-weight: 300;
  font-size: rem-calc(24);
  margin: rem-calc(0 0 30);
  /* Правка для мобильной версии */
  @media #{$small-only} {
    text-align: center;
    margin-bottom: rem-calc(10);
  }
}

.partner-logo {
  float: left;
  /* Правка для мобильной версии */
  @media #{$small-only} {
    float: none;
    text-align: center;
    margin-bottom: rem-calc(10);
  }
}

.partner-info {
  text-align: right;
  @media #{$small-only} {
    text-align: center;
  }
}

.partner-percent {
  display: block;
  margin-bottom: rem-calc(30);
  font-size: rem-calc(24);
  font-weight: 300;
  /* Правка для мобильной версии */
  @media #{$small-only} {
    margin-bottom: rem-calc(10);
  }
}

.partner-button {
  @extend .hero-submit;
  background-color: $iron;
  padding: rem-calc(5 20);

  &:hover {
    background-color: $primary-color;
    color: $white;
    text-decoration: none;
  }
}

.mortgage {
  margin-bottom: rem-calc(50);
}

.mortgage-slider {
  margin: rem-calc(20 0 40);
}

.partners-annotate {
  font-size: rem-calc(16);
  font-weight: 300;
  line-height: 1.8;
  text-indent: rem-calc(40);
}

.mortgage-form {
  margin: rem-calc(0 40);
  padding: rem-calc(20 10);
  background: $smoke;
  /* правка для мобильной версии */
  @media #{$small-only} {
    margin: rem-calc(20 0);
  }

  &-modal {
    background: none;
    margin: 0;
    input.mortgage-input {
      border: 1px solid $smoke;
    }
    textarea.mortgage-input {
      border: 1px solid $smoke;
    }
  }
  &-nomargin{
    margin: 0;
  }
}

input.mortgage-input, textarea.mortgage-input {
  width: 100%;
  background-color: $white;
  border: none;
  margin: rem-calc(10 0);
}

textarea.mortgage-input {
  height: rem-calc(90);
  margin-top: rem-calc(20);
}

.partner {

}
