.slick-slide:focus {
  outline: none;
}

.slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 1;
  cursor: pointer;
  font-size: rem-calc(24);
  margin-top: rem-calc(-16);
  &:hover {
    color: $red;
  }
}

.slick-next {
  right: rem-calc(20);
  &-catalog {
    right: rem-calc(-25);
  }
}

.slick-prev {
  left: rem-calc(20);
  &-catalog {
    left: rem-calc(-25);
  }
}

.slick-dots {
  list-style-type: none;
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
  bottom: rem-calc(5);
  &>li {
    display: inline-block;
    padding: rem-calc(0 5);
  }
  button {
    background-color: $silver;
    border: none;
    border-radius: 200%;
    margin: 0;
    padding: 0;
    text-indent: -9999px;
    width: rem-calc(10);
    height: rem-calc(10);
    cursor: pointer;
    &:hover {
      background-color: $red;
    }
    &:active, &:focus {
      outline: none;
    }
  }
  .slick-active  {

    button {
      background-color: $red;
    }
  }
}


.tiles-slider-container {
  margin-bottom: rem-calc(60);
}

.tiles-slider-wrapper {
  position: relative;
  margin-bottom: rem-calc(25);
}

.tiles-slider {
  margin-left: rem-calc(-10);
  margin-right: rem-calc(-10);
}

.slide-item {
  margin: rem-calc(0 10);

  .tile-title {
    display: block;
    margin-bottom: rem-calc(5);
    transition: color .3s ease-out;
  }
  &:hover {
    .tile-title {
      color: $primary-color;
      text-decoration: underline;
    }
  }
}

.tile {
  position: relative;
  overflow: hidden;
  box-shadow: 3px 3px 0 0 rgba($black, .2);
  transition: box-shadow .5s ease-out;
  margin-bottom: rem-calc(3);

  &:hover {
    box-shadow: 3px 3px 0 0 rgba($red, 1);
    .tile-overlay {
      opacity: 1;
    }
    .tile-overlay-ico, .tile-overlay-title {
      opacity: 1;
      transform: scale(1);
    }
  }
}

.tile-container {
  position: relative;
}

.tile-thumb {
  position: relative;
}

.tile-thumb-img {
  width: 100%;
}

.tile-badge {
  position: absolute;
  display: block;
  font-size: rem-calc(13);
  padding: rem-calc(10);
  bottom: 0;

  &-left {
    left: 0;
    background: rgba($white, .8);
    color: $red;
  }
  &-right {
    right: 0;
    background: rgba($red, .8);
    color: $white;
  }
  &-full {
    left: 0;
    right: 0;
    background: rgba($red, .8);
    color: $white;
  }
}


.tile-details {
  background-color: $silver;
  padding: rem-calc(10);
  font-size: rem-calc(13);
}

.tile-price {
  font-weight: 600;
  color: $red;
}

.tile-overlay {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background-color: #f2f5f7;
  text-align: center;
  transition: opacity 0.5s linear;
}

.tile-overlay-ico {
  transform: scale(0);
  opacity: 0;
  transition: all 0.5s linear;
  width: rem-calc(76);
  height: rem-calc(76);
  background: url('/images/tile-overlay-ico.png') no-repeat;
  background-size: cover;
  margin: rem-calc(80) auto rem-calc(20);
}

.tile-overlay-ico-alt {
  background: url('/images/tile-overlay-ico-alt.png') no-repeat;
  width: rem-calc(80);
}

.tile-overlay-title {
  color: $red;
  font-weight: 600;
  font-size: rem-calc(18);
  transform: scale(0);
  opacity: 0;
  transition: all 0.5s linear;
}

.feedback-slide {
  padding: rem-calc(0 20);
}

/* Новые стили для странцы со списком квартир в виде списка */
.tile-line {
  margin-bottom: rem-calc(30);
}

.flat-line {
  margin: rem-calc(0 -10 45);
  padding: rem-calc(10);
  display: block;
  transition: background-color .3s ease-out;
  position: relative;

  &:hover {
    background-color: #f2f5f7;
    color: inherit;
  }
}

.price {
  color: $red;
}
.flat_title {
  font-weight: 600;
  font-size: rem-calc(18);
}

.buldings-price {
  margin-bottom: rem-calc(35);
  font-size: rem-calc(18);
}

.flat-offer {
  font-size: rem-calc(14);
}

.flat-advantages {
  font-size: rem-calc(14);
}
.flat-additional {
  font-size: rem-calc(14);
  position: relative;
}
.flat_readmorelink {
  position: absolute;
  top: rem-calc(170);
  color: $red;
  text-decoration: underline;
}
.show-selector {
  font-size: rem-calc(14);
}

.corousel-nav-container {
  margin: rem-calc(10);
}
