.rating_title {
  display: inline-block;
  font-weight: 600;
}

.stars {
  list-style-type: none;
  display: inline-block;
  margin: 0;
}

.star {
  display: inline-block;
  font-size: rem-calc(14);

  i {
    color: $steel;
  }

  &.checked {

    i{
      color: $warning-color;
    }
  }
}