.page-nav {
  display: table;
  margin: rem-calc(10 0 30);
  list-style-type: none;
  width: 100%;
}

.page-nav-item {
  display: table-cell;
  text-align: center;
  padding: rem-calc(0 5);

  &:first-child {
    padding-left: 0;
  }
  &:last-child {
    padding-right: 0;
  }
}

.page-nav_link {
  display: block;
  border: 2px solid $smoke;
  font-weight: 600;
  padding: rem-calc(10 20);
  color: $body-font-color;
  transition: all .2s ease-out;

  &.active, &:hover {
    color: $red;
    text-decoration: underline;
    border-color: $red;
  }
}

.side-nav {
  list-style-type: none;
  margin: rem-calc(0 0 30);
  padding: 0;
}

.side-nav-item {
  display: block;
  margin-bottom: rem-calc(10);
}

.side-nav_link {
  display: block;
  border-radius: rem-calc(10);
  padding: rem-calc(5 10);
  background-color: $gainsboro;
  color: $oil;
  transition: all .5s ease-out;
  font-weight: 600;

  &:hover {
    background-color: $primary-color;
    color: $white;
  }
}

.look-another {

}

.look-another_link {
  display: block;
  font-size: rem-calc(12);
  line-height: 1.5;
  margin-bottom: rem-calc(20);
  position: relative;
  overflow: hidden;
  padding: rem-calc(0 0 10);

  &:after {
    content: '';
    display: block;
    border: 2px solid rgba($red, .3);
    bottom: 0;
    left: 23%;
    right: 0;
    position: absolute;
    transition: left .5s ease-out;
  }

  &:hover {
    color: $red;
    text-decoration: underline;
    .look-another-title {
      color: $red;
      text-decoration: underline;
    }

    &:after {
      left: 0;
    }
  }
}

.look-another-thumb {
  display: inline-block;
  width: 20%;
  vertical-align: top;

  img {
    max-width: 100%;
  }
}

.look-another-title {
  display: inline-block;
  width: 78%;
  vertical-align: top;
  padding: rem-calc(0 0 0 10);
  color: $oil;
  transition: all .5s ease-out;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}