.flat-tabs {
  margin-left: 38px;
}
.tabs {
  list-style-type: none;
  margin: 0;
  padding: 0;
  border-bottom: 3px solid #ebebeb;
  @include clearfix;
}
.tab-title {
  float: left;
  display: block;
  padding: rem-calc(5 10);
  border:  1px solid #ebebeb;
  border-top-left-radius: rem-calc(5);
  border-top-right-radius: rem-calc(5);

  &.active {
    background-color: #ebebeb;
  }

  a {
    color: inherit;
    text-decoration: none;
    &:hover {
      color: inherit;
      text-decoration: none;
    }
    &:focus {
      outline: none;
    }
  }
}

.tabs-content .content{
  display: none;

  &.active{
    display: block;
  }
}

.tab-link {
  float: left;
  display: block;
  padding: rem-calc(5 10);
}

.tab_link {
  text-decoration: underline;
  cursor: pointer;
}

