@for $i from 1 through 6 {
  .h#{$i} {
    @extend h#{$i};
    margin: 0;
  }
}

blockquote {
  font-size: rem-calc(14);
  vertical-align: top;
  &:before{
    content: '';
    float: left;
    margin-top: rem-calc(5);
    width: rem-calc(34);
    height: rem-calc(31);
    background: url('/images/blockquote-ico.png') no-repeat;
    background-size: cover;
  }
}

.title {
  text-align: center;
  margin: rem-calc(20 0 25);
}

.title-flat {
  margin: rem-calc(4 0 12);
  font-size: rem-calc(30);
  font-weight: 300;
}
