extends layouts/default
block content
  include blocks/breadcrums
  h1.title.text-center ЖК Европейский берег
  include blocks/pagesubnav
  section
    .row
      .large-3.columns.hide-for-medium-down
        span.h3 Новости
        .about-news-list
          p: a.about-news_link(href="#") 21.07.15 Ипотека при государственной поддержке Ставки от 11,9%
          p: a.about-news_link(href="#") 21.07.15 Ипотека при государственной поддержке Ставки от 11,9%
          p: a.about-news_link(href="#") 21.07.15 Ипотека при государственной поддержке Ставки от 11,9%
      .large-6.columns.medium-8
        .hero
          .hero-slider
            .hero-slider-item
              img(src='/images/demo-about-slide.jpg')

            .hero-slider-item
              img(src='/images/demo-about-slide.jpg')

            .hero-slider-item
              img(src='/images/demo-about-slide.jpg')
        .row
          .small-8.columns
            .about-rating
              span.rating_title Рейтинг застройщика:
              ul.stars
                li.star.checked
                  i.icon-star
                li.star.checked
                  i.icon-star
                li.star.checked
                  i.icon-star
                li.star.checked
                  i.icon-star
                li.star
                  i.icon-star

          .small-4.columns.text-right
            span Ипотека от
            span.about-price 11,9%


      .large-3.columns.medium-4
        p.about-info
          strong Адрес:
          |  Москва, Маршала Рыбалко ул., ЖК Маршал
        p.about-info
          strong Застройщик:
          br
          | ООО "Сибакадемстрой"
        p.about-info
          strong Материал:&nbsp;
          | сибит
        p.about-info
          strong Срок сдачи:
          br
          | I квартал 2015

        ul.about-price-list
          li 1-ком. от&nbsp;
            span.about-price 8,77 млн руб.
          li 2-ком. от&nbsp;
            span.about-price 13,77 млн руб.
          li 3-ком. от&nbsp;
            span.about-price 26,77 млн руб.
          li 4-ком. от&nbsp;
            span.about-price 36,77 млн руб.
          li 5-ком. от&nbsp;
            span.about-price 45,77 млн руб.
          li 6-ком. от&nbsp;
            span.about-price 62,77 млн руб.

    h4.section-title Описание жилого комплекса
    p Микрорайон «Европейский берег» расположен на берегу Оби, между двумя мостами — Коммунальным и Бугринским, рядом с улицей Большевистской и супермаркетом «Лента». Строительство микрорайона разделено на пять очередей. Каждая очередь сдается самостоятельным жилым кварталом с выполненным благоустройством, и территориально отделенным от новой стройплощадки. Общая территория микрорайона составляет около 17 га. Площадь застройки составляет 250 000 м2.
      | Предусмотрено строительство 27 жилых домов (4 000 квартир).
    .row
      .medium-8.columns
        h5 Посмотреть видео о комплексе
        .flex-video
          iframe(width="560" height="315" src="https://www.youtube.com/embed/WayqEIsJR3I" frameborder="0" allowfullscreen)

      .medium-4.columns
        .consultant
          .row
            .small-4.columns
              img(src="/images/demo-consultant-ava.jpg")
            .small-8.columns
              span Консультант на объекте
              span.consultant_name Ануфриева Лидия Николаевна
              a.consultant_phone(href="tel:+79139443456") +7 913 944-34-56
          .row
            .small-12.columns
              a.viewing-singup(href="#") Записаться на просмотр

    h4.section-title.text-right Расположение комплекса
    .about-map
      iframe(src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d9151.150340712496!2d82.95008511082031!3d55.011888415977474!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sru!4v1444771652228" height="450" frameborder="0" style="width: 100%; border:0" allowfullscreen)

    h4.section-title Планировки
    .row
      each i in new Array(3)
        .medium-4.columns
          a.plan-tile.plan-tile-big(href="#")
            span.plan-tile-bg
            span.plan-tile-thumb
              img(src="/images/demo-plan.jpg")
            span.plan-tile-description
              span.row
                span.small-6.columns
                  | S = 75 м
                  br
                  | 2кв. 2016
                span.small-6.columns.text-right
                  strong 3 600 т.р.
              span.plan-tile_link Узнать подробности


    h4.section-title Похожие жилые комплексы
    include blocks/element-slider

