extends layouts/default
block content
  include blocks/breadcrums
  h1.title.title-flat ЖК Европейский юерег. 3-комн. квартира, ул. Зорге
  .row
    .medium-6.columns
      .panel
        p Прощадь: 44.6 общая / 29.4 жилая / 6 кухня
        p Цена: 4 590 000 руб.
          s.price-old 4 860 000 руб
        p 65 800 руб./м2
        p: a(href='#') Купить в ипотеку за 28 800 руб./месяц
      .flat-parametrs
        .row
          .small-4.columns
            span Комнат:
          .small-8.columns
            span 2
        .row
          .small-4.columns
            span Адрес:
          .small-8.columns
            span Центральный, Новосибирск
        .row
          .small-4.columns
            span Метро:
          .small-8.columns
            span Площадь Ленина (5 минут пешком)
        .row
          .small-4.columns
            span Этаж:
          .small-8.columns
            span 4|5
        .row
          .small-4.columns
            span Планировка:
          .small-8.columns
            span Смежная
        .row
          .small-4.columns
            span Тип:
          .small-8.columns
            span Хрущевка
        .row
          .small-4.columns
            span Материал стен:
          .small-8.columns
            span Кирпич
        .row
          .small-4.columns
            span Санузел:
          .small-8.columns
            span 1 совм.
        .row
          .small-4.columns
            span Балкон / Лоджия:
          .small-8.columns
            span 1/-
        .row
          .small-4.columns
            span Собственность:
          .small-8.columns
            span Частная
        .row
          .small-4.columns
            span Плита:
          .small-8.columns
            span Электро
        .row
          .small-4.columns
            span Детали:
          .small-8.columns
            span Теплая, светлая с удобной планировкой квартира в самом сердце города. В шаговой доступности скверы,парки, престижные школы, центры досуга, поликлиника, детские сады. Удобная трансп...
    .medium-6.columns
      .flat-tabs
        ul.tabs(data-tab)
          li.tab-title.active
            a.tab-title_link(href='#flat-photo') Фотографии
          li.tab-title
            a.tab-title_link(href='#flat-blueprints') Планы
          li.tab-link
            span.tab_link(onClick="window.print();return false") Распечатать
          li.tab-link
            a#bookmarkme.tab_link(href='#') В избранное
        .tabs-content
          #flat-photo.content.active
            .flat-carousel
              .flat-corousel-big
                each i in new Array(18)
                  div.flat-corousel-big-item
                    img(src='/images/flat-big-1.jpg')

            .flat-badge-line
              .row
                .small-4.columns.text-left
                  span Лучшая цена
                .small-4.columns.text-center
                  span Спрец предложение
                .small-4.columns.text-right
                  span Ипотека от 11.9%
            .flat-carousel
              .flat-carousel-nav
                each i in new Array(6)
                  div.flat-corousel-nav-item
                    .corousel-nav-container
                      img(src='/images/flat-small-1.jpg')
                  div.flat-corousel-nav-item
                    .corousel-nav-container
                      img(src='/images/flat-small-2.jpg')
                  div.flat-corousel-nav-item
                    .corousel-nav-container
                      img(src='/images/flat-small-3.jpg')

          #flat-blueprints.content
            .flat-carousel
              .flat-corousel-big
                each i in new Array(18)
                  div.flat-corousel-big-item
                    img(src='/images/flat-big-1.jpg')

            .flat-badge-line
              .row
                .small-4.columns.text-left
                  span Лучшая цена
                .small-4.columns.text-center
                  span Спрец предложение
                .small-4.columns.text-right
                  span Ипотека от 11.9%
            .flat-carousel
              .flat-carousel-nav
                each i in new Array(6)
                  div.flat-corousel-nav-item
                    .corousel-nav-container
                      img(src='/images/flat-small-1.jpg')
                  div.flat-corousel-nav-item
                    .corousel-nav-container
                      img(src='/images/flat-small-2.jpg')
                  div.flat-corousel-nav-item
                    .corousel-nav-container
                      img(src='/images/flat-small-3.jpg')



  h4.title.text-right Расположение комплекса
  .row
    .medium-4.columns
      .mortgage-form.mortgage-form-nomargin
        .row
          .small-4.columns
            img(src="/images/demo-consultant-ava.jpg")
          .small-8.columns
            span Консультант по объекту
            span.consultant_name Ануфриева Лидия Николаевна
            a.consultant_phone(href="tel:+79139443456") +7 913 944-34-56
        form(action="#")
          textarea.mortgage-input(placeholder="Задать вопрос или оставить заявку на просмотр")
          input.mortgage-input(type="text" placeholder="Имя")
          input.mortgage-input(type="text" placeholder="Телефон")
          .submit-container
            input.hero-submit(type="submit" value="Отправить")
    .medium-8.columns
      .about-map.flat-map
        iframe(src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d9151.150340712496!2d82.95008511082031!3d55.011888415977474!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sru!4v1444771652228" height="450" frameborder="0" style="width: 100%; border:0" allowfullscreen)
  h4.title Рассчитать ипотеку онлайн
  .mortgage
    .row
      .medium-6.columns
        .mortgage-slider.mortgage-slider-single
          .range-header
            span.range-title Первоначальный взнос:
            input#mortgage-summ-input.range-input(type="text")
            span.range-input-helper тыс.
          #mortgage-summ
          .range-values
            span.range-value-left 800 тыс.
            span.range-value-right 7 000 тыс.
          .clearfix
        .mortgage-slider.mortgage-slider-single
          .range-header
            span.range-title Укажите максимальную ставку по ипотеке:
            input#mortgage-percent-input.range-input(type="text")
            span.range-input-helper %
          #mortgage-percent
          .range-values
            span.range-value-left 12 %
            span.range-value-right 21 %
          .clearfix
        a.hero-submit.button(href="#") Отправить заявку
      .medium-5.columns
        .mortgage-form.right
          .row
            .small-4.columns
              img(src="/images/demo-consultant-ava.jpg")
            .small-8.columns
              span Ипотечный брокер
              span.consultant_name Ануфриева Лидия Николаевна
              a.consultant_phone(href="tel:+79139443456") +7 913 944-34-56
          form(action="#")
            textarea.mortgage-input(placeholder="Задать вопрос или оставить заявку на просмотр")
            input.mortgage-input(type="text" placeholder="Имя")
            input.mortgage-input(type="text" placeholder="Телефон")
            .submit-container
              input.hero-submit(type="submit" value="Отправить")
  h4.title Рекомендуем посмотреть
  include blocks/element-slider
