extends layouts/default
block content
  include blocks/hero
  include blocks/icon-nav
  .tiles-slider-container
    h2.catalog-slider-title: a(href="#") Новостройки
    include blocks/element-slider
    p Несмотря на довольно высокие цены на квартиры, вопросы, связанные с куплей-продажей жилой недвижимости, были и будут актуальными во все времена.
  .tiles-slider-container
    h2.catalog-slider-title: a(href="#") Вторичная недвижимость
    include blocks/element-slider
  .tiles-slider-container
    h2.catalog-slider-title: a(href="#") Коммерческая недвижимость
    include blocks/element-slider
  .tiles-slider-container
    h2.catalog-slider-title: a(href="#") Загородная недвижимость
    include blocks/element-slider
  .tiles-slider-container
    h2.catalog-slider-title: a(href="#") Новости
    include blocks/news-slider
  .tiles-slider-container
    h2.catalog-slider-title: a(href="#") Отзывы
    include blocks/feedback-slider