extends layouts/default
block content
  include blocks/breadcrums
  h1.title.text-center Новости ЖК Европейский берег
  include blocks/pagesubnav
  .mortgage
    p.partners-annotate Есть один универсальный способ улучшить жизнь: покупка новой квартиры. Но что делать, если своих денег на новую квартиру не хватает? На помощь всегда придёт ипотека! Вполне легко найдётся банк, который выдаёт ипотечные кредиты. И если вы уже выбираете для себя квартиры, то купить одну из них в кредит будет нетрудно.
      | С чего начать, выбирая ипотеку? Первым делом найдите грамотного риэлтера, который хорошо знает, какие банки выдают выгодные ипотечные кредиты. Специалист вам легко поможет правильно выбрать ипотечный кредит, рассчитать приблизительные платежи.

    h3.partner-title Вы можете оформить ипотеку в любом из наших банков - партнеров:
      each i in new Array(3)
        .row
          .medium-4.columns.collapse
            .partner
              h4.partner-name ВТБ 24
              .row
                .medium-4.columns
                  .partner-logo
                    img(src="/images/demo-partner-logo-1.jpg")
                .medium-8.columns
                  .partner-info
                    span.partner-percent от 11,5%
                    a.partner-button(href="#" data-reveal-id="bank-choise-form") Выбрать
          .medium-4.columns.collapse
            .partner
              h4.partner-name Альфа - Банк
              .row
                .medium-4.columns
                  .partner-logo
                    img(src="/images/demo-partner-logo-2.jpg")
                .medium-8.columns
                  .partner-info
                    span.partner-percent от 11,5%
                    a.partner-button(href="#") Выбрать
          .medium-4.columns.collapse
            .partner
              h4.partner-name Сбербанк
              .row
                .medium-4.columns
                  .partner-logo
                    img(src="/images/demo-partner-logo-3.jpg")
                .medium-8.columns
                  .partner-info
                    span.partner-percent от 11,5%
                    a.partner-button(href="#") Выбрать
      #bank-choise-form.dialog-form(class="reveal-modal tiny" data-reveal)
        .mortgage-form-modal
          .row
            .small-4.columns
              img(src="/images/demo-partner-logo-3.jpg")
            .small-8.columns
              h4.partner-name Сбербанк
              span.partner-percent от 11,5%
          form(action="#")
            textarea.mortgage-input(placeholder="Задать вопрос или оставить заявку на просмотр")
            input.mortgage-input(type="text" placeholder="Имя")
            input.mortgage-input(type="text" placeholder="Телефон")
            .submit-container
              input.hero-submit(type="submit" value="Отправить")


    .mortgage
       .row
         .medium-7.columns
           h5 Рассчитать ипотеку он-лайн
           .mortgage-slider.mortgage-slider-single
             .range-header
               span.range-title Укажите максимальную стоимость квартиры:
               input#mortgage-summ-input.range-input(type="text")
               span.range-input-helper тыс.
             #mortgage-summ
             .range-values
               span.range-value-left 800 тыс.
               span.range-value-right 7 000 тыс.
             .clearfix
           .mortgage-slider.mortgage-slider-single
             .range-header
               span.range-title Укажите максимальную ставку по ипотеке:
               input#mortgage-percent-input.range-input(type="text")
               span.range-input-helper %
             #mortgage-percent
             .range-values
               span.range-value-left 12 %
               span.range-value-right 21 %
             .clearfix
           a.hero-submit.button(href="#") Отправить заявку
         .medium-5.columns
           .mortgage-form
             .row
               .small-4.columns
                 img(src="/images/demo-consultant-ava.jpg")
               .small-8.columns
                 span Ипотечный брокер
                 span.consultant_name Ануфриева Лидия Николаевна
                 a.consultant_phone(href="tel:+79139443456") +7 913 944-34-56
             form(action="#")
               textarea.mortgage-input(placeholder="Задать вопрос или оставить заявку на просмотр")
               input.mortgage-input(type="text" placeholder="Имя")
               input.mortgage-input(type="text" placeholder="Телефон")
               .submit-container
                 input.hero-submit(type="submit" value="Отправить")
