extends layouts/default
block content
  include blocks/breadcrums
  h1.title.text-center Новостройки
  include blocks/filters
  .tile-line
    ul.medium-block-grid-4
      each i in new Array(20)
        li.newhouse-tile
          .slide-item
            a.tile-title(href="#") ЖК Акатуйский
            .tile
              .tile-container
                .tile-thumb
                  img.tile-thumb-img(src='/images/demo-element-thumb.jpg')
                  span.tile-badge.tile-badge-right Ипотека 11,9%
                .tile-details
                  .row
                    .small-6.columns
                      span ЖК Горский,
                        br
                        | м.Студенческая
                    .small-6.columns
                      span.element-card-price от 4,5
                        br
                        | млн. руб.
                a(href="#").tile-overlay
                  .tile-overlay-ico.tile-overlay-ico-alternative
                  .tile-overlay-title подробнее
