extends layouts/default
block content
  include blocks/breadcrums
  h1.title.text-center Новостройки
  include blocks/filters
  .row
    .medium-8.columns
      h3 Городская недвижимость
    .medium-4.columns
      .show-selector
        span Показывать:&nbsp;
        span
         i.th.th-list
         | Списком
        a(href='#')
          i.th.th-large
          | Плиткой
  .tile-line
    each i in new Array(20)
      .row
        .large-12.columns
          .flat-line(href='#')
            .row
              .medium-3.columns
                .tile
                  .tile-container
                    .tile-thumb
                      img.tile-thumb-img(src='/images/demo-element-thumb.jpg')
                      span.tile-badge.tile-badge-full Ипотека 11,9%
                    .tile-details
                      .row
                        .small-6.columns
                          span ЖК Горский,
                            br
                            | м.Студенческая
                        .small-6.columns
                          span.element-card-price от 4,5
                            br
                            | млн. руб.

              .medium-4.columns
                h6.flat_title 3-комн. квартира, ул. Зорге
                .flat-price
                  span Цена:&nbsp;
                  span.price 4 590 000&nbsp;
                  s 5 400 000
                  br
                  span Цена за м2:&nbsp;
                  span.price 65 800
                .flat-offer
                  span Лучшая цена
                  br
                  span Спецпредложение
                  br
                  span Ипотека от 11,9%
              .medium-3.columns
                .flat-advantages
                  .row
                    .small-7.columns
                      span Этаж:
                    .small-5.columns
                      span 4/5
                  .row
                    .small-7.columns
                      span Площадь:
                    .small-5.columns
                      span 44.6 м2
                  .row
                    .small-7.columns
                      span Кухня:
                    .small-5.columns
                      span 6 м2
                  .row
                    .small-7.columns
                      span Стены:
                    .small-5.columns
                      span кирпич
                  .row
                    .small-7.columns
                      span Сан.узел:
                    .small-5.columns
                      span совмещенный
                  .row
                    .small-7.columns
                      span Балкон/лоджия:
                    .small-5.columns
                      span Балкон
              .medium-2.columns.flat-additional
                span Фото: 10
                br
                span Планировка: 1
                br
                a.flat_readmorelink(href='#') Подробнее
