extends layouts/default
block content
  include blocks/breadcrums
  h1.title.text-center Новости ЖК Европейский берег
  include blocks/pagesubnav

  section.news-list
    each i in new Array(4)
      article.news-item
        .row
          .medium-5.columns
            .news-list-thumb
              a(href="#")
                img(src="/images/demo-news-list.jpg")
          .medium-7.columns
            .news-list-detail
              header
                a.news-list-title(href="#") "Европейскому берегу" исполнилось 2 года
              span.news-list-date 10 августа 2015
              p.news-list-announcement.hide-for-small-only 15 августа в Европейском береге прошел праздник в честь двухлетия жилого района. На празднике для гостей работало пять развлекательных площадок. На спортивной площадке во дворе домов первой очереди проходил семейный зачет на звание самой спортивной семьи. На детской площадке аниматоры веселили маленьких гостей, мастера из Фабрики гениев удивляли научными экспериментами, стилисты салона красоты делали причёски и макияж.

    include blocks/pagination