extends layouts/default
block content
  include blocks/breadcrums
  h1.title.text-center Фото и видео ЖК Европейский берег
  include blocks/pagesubnav

  section
    .row
      .medium-6.columns
        article
          h5 Презентация жилого комплекса
          .flex-video
            iframe(width="560" height="315" src="https://www.youtube.com/embed/WayqEIsJR3I" frameborder="0" allowfullscreen)

      .medium-6.columns
        article
          h5 Видео отчет 25 июня 2015
          .flex-video
            iframe(width="560" height="315" src="https://www.youtube.com/embed/WayqEIsJR3I" frameborder="0" allowfullscreen)
  section
    h4 Фотографии жилого комплекса
    ul.large-block-grid-3.medium-block-grid-2.small-block-grid-1
      each i in new Array(6)
        li
          article
            img(src="/images/demo-photo-gallery.jpg")