extends layouts/default
block content
  include blocks/breadcrums
  h1.title Планировки и цены ЖК Европейский берег
  include blocks/pagesubnav
  section.house-choices
    .row
      each i in new Array(4)
        .medium-4.large-3.small-12.columns
          a.house-choice(href="#")
            span.house-title В продаже
            span.house-choice-bg
            span.house-thumb
              img(src="/images/house-choice.png")
            span.house-description
              span.house-address Адрес: Декабристов, 123
              span.house-ready Готовность
              span.progress.large-12
                span.meter(style="width: 45%")
                  p 45%
              span.house-date-ready Сдача II кв. 2016
