extends layouts/default
block content
  include blocks/breadcrums
  h1.title Планировки и цены ЖК Европейский берег
  include blocks/pagesubnav
  .row(data-equalizer)
    .medium-3.columns(data-equalizer-watch)
      aside.sticky
        nav
          ul.side-nav
            li.side-nav-item
              a.side-nav_link(href="#") Студии
            li.side-nav-item
              a.side-nav_link(href="#") 1 - комнатные
            li.side-nav-item
              a.side-nav_link(href="#") 2 - комнатные
            li.side-nav-item
              a.side-nav_link(href="#") 3 - комнатные
        h6 Посмотреть другие дома
        .look-another
        each i in new Array(3)
          a.look-another_link
            span.look-another-thumb
              img(src='/images/house-choice.png')
            span.look-another-title 16 этажный дом
              br
              | Адрес: ул. Декабристов, 123
    .medium-9.columns(data-equalizer-watch)
      .row
        each i in new Array(3)
          .medium-4.columns
            a.plan-tile(href="#" data-reveal-id="modalFlat")
              span.plan-tile-bg
              span.plan-tile-thumb
                img(src="/images/demo-plan.jpg")
              span.plan-tile-description
                span.row
                  span.small-6.columns
                    | S = 75 м
                    br
                    | 2кв. 2016
                  span.small-6.columns.text-right
                    strong 3 600 т.р.
                span.plan-tile_link Узнать подробности
      .row
        each i in new Array(3)
          .medium-4.columns
            a.plan-tile(href="#")
              span.plan-tile-bg
              span.plan-tile-thumb
                img(src="/images/demo-plan.jpg")
              span.plan-tile-description
                span.row
                  span.small-6.columns
                    | S = 75 м
                    br
                    | 2кв. 2016
                  span.small-6.columns.text-right
                    strong 3 600 т.р.
                span.plan-tile_link Узнать подробности
      .row
        each i in new Array(3)
          .medium-4.columns
            a.plan-tile(href="#")
              span.plan-tile-bg
              span.plan-tile-thumb
                img(src="/images/demo-plan.jpg")
              span.plan-tile-description
                span.row
                  span.small-6.columns
                    | S = 75 м
                    br
                    | 2кв. 2016
                  span.small-6.columns.text-right
                    strong 3 600 т.р.
                span.plan-tile_link Узнать подробности

  h4.section-title Похожие комплексы
  include blocks/element-slider
  #modalFlat.reveal-modal.small(data-reveal aria-hidden="true" role="dialog")
    .row
      .medium-7.columns
        img(src="/images/demo-flat-plan.jpg")
      .medium-5.columns
        p Количество комнат: 2
        p Общая площадь: 78 м2
          br
          | Кухня: 14 м2
          br
          | Жилая: 64 м2
        p Этаж: 12-14
        p Сдача: 2 квартал 2016 г.
        span.flat-price Цена:
          span.flat-total 3 850 000р.
    h4 Я хочу купить квартиру
    .row
      .medium-6.columns.large-4
        input(type='text' placeholder='Имя')
        input(type='text' placeholder='Телефон')
      .medium-6.columns.large-4
        input(type='checkbox' id='input1')
        label(for='input1') Расчет сразу
        br
        input(type='checkbox' id='input2')
        label(for='input2') В ипотеку
      .large-4.columns
        input.hero-submit(type="submit" value="Отправить")
