nav.breadcrumbs(role="menubar" aria-label="Цепочка навигации")
  li(role="menuitem")
    a(href="#") Главная
  li
    span -
  li(role="menuitem")
    a(href="#") Новостройки
  li
    span -
  li(role="menuitem")
    a(href="#") ЖК Европейский берег
  li
    span -
  li.current(role="menuitem")
    span Новости