.tiles-slider-wrapper
  .tiles-slider
    each i in new Array(10)
      .slide-item
        .tile
          .tile-container
            .tile-thumb
              img.tile-thumb-img(src='/images/demo-element-thumb.jpg')
              span.tile-badge.tile-badge-right Ипотека 11,9%
            .tile-details
              .row
                .small-6.columns
                  span ЖК Горский,
                    br
                    | м.Студенческая
                .small-6.columns
                  span.element-card-price от 4,5
                      br
                      | млн. руб.
            a(href="#").tile-overlay
              .tile-overlay-ico.tile-overlay-ico-alternative
              .tile-overlay-title подробнее