.tiles-slider-wrapper
  .feedback-slider
    each i in new Array(2)
      .slide-item
        .feedback-slide
          .row
            .medium-4.columns
              img(src='/images/demo-feedback-ava1.jpg')
            .medium-8.columns
              blockquote Обратились в агентство Гранит. Нам с мужем все понравилось! Все люди в агентстве отзывчивые, хорошие, все объяснят, все расскажут! Советуем!
                cite Анна Харитонова
      .slide-item
        .feedback-slide
          .row
            .medium-4.columns
              img(src='/images/demo-feedback-ava2.jpg')
            .medium-8.columns
              blockquote Обратились в агентство Гранит. Нам с мужем все понравилось! Все люди в агентстве отзывчивые, хорошие, все объяснят, все расскажут! Советуем!
                cite Анна Харитонова