.filters-container
  form(action="#")
    .filter-line
      .row
        .medium-3.columns
          .tags
            label.tag-label(for="tag1")
              input#tag1.tag-checkbox(type="checkbox")
              span.tag-title студия
            label.tag-label(for="tag2")
              input#tag2.tag-checkbox(type="checkbox")
              span.tag-title 1
            label.tag-label(for="tag3")
              input#tag3.tag-checkbox(type="checkbox")
              span.tag-title 2
            label.tag-label(for="tag4")
              input#tag4.tag-checkbox(type="checkbox")
              span.tag-title 3+

        .medium-3.columns
          label.select-list(for='city-area')
            select#city-area
              option Район
              option Новый
              option Старый
        .medium-3.columns
          label.select-list(for='repair-type')
            select#repair-type
              option Ремонт
              option Евро
              option Русский
              option Нет
        .medium-3.columns
          label.select-list(for='wall')
            select#wall
              option материал стен
              option Картон
              option Газеты
    .filter-line
    .row
      .medium-3.columns
        .filter-slider
          .range-header
            span.range-title Общая площадь
          #total-area-filter
          input#totalAreaInputLeft.hidden
          input#totalAreaInputRight.hidden
          .clearfix
        script.
          var TotalAreaSlider = document.getElementById('total-area-filter'),
              totalAreaFilterInputLeft = document.getElementById('totalAreaInputLeft'),
              totalAreaFilterInputRight = document.getElementById('totalAreaInputRight');
          noUiSlider.create(TotalAreaSlider, {
            start: [40, 180],
            connect: true,
            tooltips: true,
            range: {
              'min': 14,
              'max': 380
            },
            format: wNumb({
            decimals: 0,
            thousand: '',
            postfix: 'м²',
            })
          });
          TotalAreaSlider.noUiSlider.on('update', function (values, handle) {
            if (handle) {
              totalAreaFilterInputRight.value = values[handle];
            } else {
              totalAreaFilterInputLeft.value = values[handle];
            }
          });
          totalAreaFilterInputLeft.addEventListener('change', function () {
            TotalAreaSlider.noUiSlider.set([null, this.value]);

          });
          totalAreaFilterInputRight.addEventListener('change', function () {
            TotalAreaSlider.noUiSlider.set([null, this.value]);
          });
      .medium-3.columns
        .filter-slider
          .range-header
            span.range-title Цена
          #price-filter
          .row
            .small-6.columns.medium-4.columns
              input#priceInputLeft.filter-slider-input
            .small-6.columns.medium-4.columns
              input#priceInputRight.filter-slider-input
          .clearfix
        script.
          var priceFilterSlider = document.getElementById('price-filter'),
              priceFilterInputLeft = document.getElementById('priceInputLeft'),
              priceFilterInputRight = document.getElementById('priceInputRight');
          noUiSlider.create(priceFilterSlider, {
            start: [500, 8000],
            connect: true,
            range: {
              'min': 500,
              'max': 10000
            },
            format: wNumb({
              decimals: 0,
              thousand: '',
              postfix: '₽',
            })
          });
          priceFilterSlider.noUiSlider.on('update', function (values, handle) {
            if (handle) {
              priceFilterInputRight.value = values[handle];
            } else {
              priceFilterInputLeft.value = values[handle];
            }
          });
          priceFilterInputLeft.addEventListener('change', function () {
            priceFilterSlider.noUiSlider.set([null, this.value]);

          });
          priceFilterInputRight.addEventListener('change', function () {
            priceFilterSlider.noUiSlider.set([null, this.value]);
          });
      .medium-3.columns
        label.select-list(for='done')
          select#done
            option Срок сдачи
            option Сдан
            option Не сдан
      .medium-3.columns
        .filter-submit.text-right
          button.hero-submit.button Найти
