footer.footer
  header.footer-header
    .row
      .medium-4.columns
        a.logo_link.logo_link-footer(href='#')
          img.logo.logo-footer(src='/images/logo-footer.png')
      .medium-8.columns
        .phone-header.phone-header-footer
          a.phone_link(href='tel:+73833455667')
            span.phone-prefix (383)
            span.phone-number 345-56-67
          a.order-call-button(href="#")
           i.icon-pencil
           | Оставить заявку
  .row
    .large-12.columns
      section.section-footer.container.wrapper
        .row
          .large-3.columns.medium-6
            a.h5.footer-title_link(href="#") Недвижимость
            ul.footer-nav
              li.footer-nav-item
                a.footer_link(href="#") Квартиры, комнаты
              li.footer-nav-item
                a.footer_link(href="#") Новостройки
              li.footer-nav-item
                a.footer_link(href="#") Аренда квартир, комнат
              li.footer-nav-item
                a.footer_link(href="#") Коттеджи, таунхаусы, участки
              li.footer-nav-item
                a.footer_link(href="#") Коттеджные поселки
              li.footer-nav-item
                a.footer_link(href="#") Аренда коттеджей
              li.footer-nav-item
                a.footer_link(href="#") Нежилые помещения
              li.footer-nav-item
                a.footer_link(href="#") Аренда нежилых помещений

          .large-3.columns.medium-6
            a.h5.footer-title_link(href="#") Услуги
            ul.footer-nav
              li.footer-nav-item
                a.footer_link(href="#") Обмен квартир
              li.footer-nav-item
                a.footer_link(href="#") Помощь в получении ипотеки
              li.footer-nav-item
                a.footer_link(href="#") Продать квартиру, комнату
              li.footer-nav-item
                a.footer_link(href="#") Оценка недвижимости
              li.footer-nav-item
                a.footer_link(href="#") Согласование перепланировок
              li.footer-nav-item
                a.footer_link(href="#") Перевод в жилой фонд
              li.footer-nav-item
                a.footer_link(href="#") Перевод в нежилой фонд
              li.footer-nav-item
                a.footer_link(href="#") Лизинговые услуги
          .large-3.columns.medium-6
            a.h5.footer-title_link(href="#") Ипотека
            ul.footer-nav
              li.footer-nav-item
                a.footer_link(href="#") О компании
              li.footer-nav-item
                a.footer_link(href="#") Вакансии
              li.footer-nav-item
                a.footer_link(href="#") Новости
              li.footer-nav-item
                a.footer_link(href="#") Отзывы
              li.footer-nav-item
                a.footer_link(href="#") Видеоархив
              li.footer-nav-item
                a.footer_link(href="#") Акции и спецпредложения
          .large-3.columns.medium-6
            span.footer-contact
              i.icon-location.contact-icon.left
              | ул. Красный проспект, д.2,
              br
              | офис 23-34
              br
              | Новосибирск, 630007
            span.footer-contact.footer-phone
              i.icon-phone.contact-icon.left
              span.phone-prefix (383)
              span.phone-number 345-56-40, 341-56-40
              br
              span.phone-prefix (383)
              span.phone-number 341-56-28, 341-56-28
            span.footer-contact
              i.icon-email.contact-icon.left
              a.footer_link(href="mailto:granit@info.ru") granit@info.ru

        .row
          .large-3.columns.medium-6
          .large-3.columns.medium-6
            a.h5.footer-title_link(href="#") Все услуги
          .large-3.columns.medium-6
            a.h5.footer-title_link(href="#") Наши офисы
          .large-3.columns.medium-6
            span.author Создание сайта -&nbsp;
              a.footer_link(href="#") h2o-design