.row
  .medium-6.columns
    a.logo(href="/" title="АН Гранит")
      img.logo_img(src='images/logo.jpg' alt="АН Гранит")
  .medium-6.columns
    .phone-header
      a.phone_link.hide-for-small-only(href='tel:+73833455667')
        span.phone-icon-header
          i.icon-phone
        span.phone-prefix (383)
        span.phone-number 345-56-67
      a.order-call(href="#") Заказать звонок
.row.hide-for-small-only
  .medium-12.columns
    nav(role="navigation" aria-label="Основная навигация")
      ul.nav
        li.nav-item
          a.nav_link(href="#") Недвижимость
        li.nav-item
          a.nav_link(href="#") Услуги
        li.nav-item
          a.nav_link(href="#") Ипотека
        li.nav-item
          a.nav_link(href="#") О компании
        li.nav-item
          a.nav_link(href="#") Наши офисы