.row.large-collapse.collapse
  .large-9.columns
    .hero
      .hero-slider
        .hero-slider-item
          img(src='/images/demo-hero-slide.jpg')
          span.hero-slogan
            strong Скидка 5%
            |  при покупке
            br
            | квартиры
            strong  в новостройке!
        .hero-slider-item
          img(src='/images/demo-hero-slide.jpg')
          span.hero-slogan
            strong Скидка 5%
            |  при покупке
            br
            | квартиры
            strong  в новостройке!
        .hero-slider-item
          img(src='/images/demo-hero-slide.jpg')
          span.hero-slogan
            strong Скидка 5%
            |  при покупке
            br
            | квартиры
            strong  в новостройке!
  .large-3.columns
    .hero-form
      form(action="#")
        textarea.hero-input(placeholder="Задать вопрос или оставить заявку на просмотр")
        input.hero-input(type="text" placeholder="Имя")
        input.hero-input(type="text" placeholder="Телефон")
        .submit-container
          input.hero-submit(type="submit" value="Отправить")