.icon-nav
  ul.medium-block-grid-5.small-block-grid-2(data-equalizer="icon-nav")
    li
      a.icon-nav-item(href="#")
        span.icon-nav-thumb
          img(src='images/nav-icon-new.png')
        span.icon-nav_title(data-equalizer-watch="icon-nav") Новостройки
    li
      a.icon-nav-item(href="#")
        span.icon-nav-thumb
          img(src='images/nav-icon-resell.png')
        span.icon-nav_title(data-equalizer-watch="icon-nav") Вторичное жилье
    li
      a.icon-nav-item(href="#")
        span.icon-nav-thumb
          img(src='images/nav-icon-commercial.png')
        span.icon-nav_title(data-equalizer-watch="icon-nav") Коммерческая недвижимость
    li
      a.icon-nav-item(href="#")
        span.icon-nav-thumb
          img(src='images/nav-icon-rural.png')
        span.icon-nav_title(data-equalizer-watch="icon-nav") Загородная недвижимость
    li
      a.icon-nav-item(href="#")
        span.icon-nav-thumb
          img(src='images/nav-icon-contractor.png')
        span.icon-nav_title(data-equalizer-watch="icon-nav") Предложение подрядчиков
