.tiles-slider-wrapper
  .tiles-slider
    each i in new Array(10)
      .slide-item
        .tile
          .tile-container
            .tile-thumb
              img.tile-thumb-img(src='/images/demo-element-thumb.jpg')
              span.tile-badge.tile-badge-left Ипотека 11,9%
            .tile-details
              span Скидки от застройщика на загородную нежвижимость!
            a(href="#").tile-overlay
              .tile-overlay-ico.tile-overlay-ico-alt
              .tile-overlay-title подробнее