.page-nav-container.hide-for-small-only
  nav.page-nav(role="navigation" aria-label="Разделы")
    li.page-nav-item
      a.page-nav_link(href="#") О комплексе
    li.page-nav-item
      a.page-nav_link(href="#") Планировки и цены
    li.page-nav-item
      a.page-nav_link(href="#") Ипотека
    li.page-nav-item
      a.page-nav_link.active(href="#") Новости
    li.page-nav-item
      a.page-nav_link(href="#") Фото и видео
    li.page-nav-item
      a.page-nav_link(href="#") Экскурсия
