ul.pagination(role="menubar" aria-label="Постраничная навигация")
  li.pagination-item
    span.pagination_link.active 1
  li.pagination-item
    a.pagination_link(href="#") 2
  li.pagination-item
    a.pagination_link(href="#") 3
  li.pagination-item
    span.pagination_separation ...
  li.pagination-item
    a.pagination_link(href="#") 17
