doctype html
html.no-js
  head
    meta(charset='utf-8')
    title АН Гранит
    meta(name='description' content='')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='apple-touch-icon' href='apple-touch-icon.png')
    // Place favicon.ico and apple-touch-icon.png in the root directory
    // build:css styles/vendor.css
    // endbuild
    // build:css styles/main.css
    link(rel='stylesheet' href='styles/main.css')
    // endbuild
    // build:js scripts/vendor/modernizr.js
    script(src='../bower_components/modernizr/modernizr.js')
    // endbuild
      // build:js scripts/vendor.js
    // bower:js
    script(src='/bower_components/modernizr/modernizr.js')
    script(src='/bower_components/jquery/dist/jquery.js')
    script(src='/bower_components/fastclick/lib/fastclick.js')
    script(src='/bower_components/jquery.cookie/jquery.cookie.js')
    script(src='/bower_components/jquery-placeholder/jquery.placeholder.js')
    script(src='/bower_components/foundation/js/foundation.js')
    script(src='/bower_components/slick-carousel/slick/slick.min.js')
    script(src='/bower_components/nouislider/distribute/nouislider.js')
    script(src='/bower_components/Stickyfill/dist/stickyfill.js')
    script(src='scripts/vendor/wnumb.js')
    // endbower
    // endbuild
  body
    | <!--[if lt IE 10]>
    |   <p class="browserupgrade">Вы используете <strong>устаревший</strong> браузер. Пожалуйста
    |   <a href="http://browsehappy.com/">обновите ваш браузер</a> для лучшего взаимодействия с сайтом.</p>
    | <![endif]-->
    .off-canvas-wrap(data-offcanvas)
      .inner-wrap
        nav.tab-bar.show-for-small-only
          section.left-small
            a.left-off-canvas-toggle.menu-icon(href="#")
              span.icon-menu
          section.right.tab-bar-section
            a.phone_link(href='tel:+73833455667')
              span.phone-icon-header
                i.icon-phone
              span.phone-prefix (383)
              span.phone-number 345-56-67

        aside.left-off-canvas-menu
          ul.off-canvas-list
            li: label Навигация
            li
              a(href="#") Недвижимость
            li
              a(href="#") Услуги
            li
              a(href="#") Ипотека
            li
              a(href="#") О компании
            li
              a(href="#") Наши офисы
            li: label Выберите раздел
            li
              a(href="#") О комплексе
            li
              a(href="#") Планировки и цены
            li
              a(href="#") Ипотека
            li
              a.active(href="#") Новости
            li
              a(href="#") Фото и видео
            li
              a(href="#") Экскурсия
        section.main-section
          .row
            .large-12.columns
              .wrapper
                .container
                  header.header
                    include ../blocks/header
                  main(role="main")
                    block content
                include ../blocks/footer

    // build:js scripts/plugins.js
    script(src='../bower_components/foundation/js/foundation/foundation.js')
    script(src='../bower_components/foundation/js/foundation/foundation.offcanvas.js')
    script(src='../bower_components/foundation/js/foundation/foundation.equalizer.js')
    script(src='../bower_components/foundation/js/foundation/foundation.reveal.js')
    script(src='../bower_components/foundation/js/foundation/foundation.tab.js')

    script(src='../bower_components/Stickyfill/dist/stickyfill.js')
    // endbuild

    // build:js scripts/main.js
    script(src='scripts/main.js')
    // endbuild
